@page "/iss-location"
@using HelloWorldBlazorAPI_HTTP.Models;
@inject IHttpClientFactory _clientFactory;

<h3>NamedClientISSLocation</h3>

<div>

    <p>@location.Latitude</p>
    <p>@location.Longitude</p>

</div>

@code {
    private ISSLocation location = new ISSLocation();

    protected override async Task OnInitializedAsync()
    {
        var httpClient = _clientFactory.CreateClient("ISSLocation");
        location = await httpClient.GetFromJsonAsync<ISSLocation>("");
    }
}
