@page "/iss-location"
@using HelloWorldBlazorAPI_HTTP.Models;
@inject IHttpClientFactory _clientFactory;

<h3>NamedClientISSLocation</h3>

<div>

    <p>@pos.Latitude</p>
    <p>@pos.Longitude</p>

</div>

@code {
    private ISSLocation location = new ISSLocation();
    private ISSLocationPosition pos = new ISSLocationPosition();

    protected override async Task OnInitializedAsync()
    {
        var httpClient = _clientFactory.CreateClient("ISSLocation");
        location = await httpClient.GetFromJsonAsync<ISSLocation>("");
        pos = location.Iss_Position;
    }
}
